<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Works in Progress | Ann Arbor Design &amp; Maker Show</title>
    <meta name="description" content="Works in Progress is a design show featuring local designers, makers, and artists, showcasing a wide spectrum of functional works that include fashion, graph...">

    <link rel="stylesheet" href="{{ STATIC_URL }}normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}main.css">
    <link rel="stylesheet" media="(orientation: portrait)" href="{{ STATIC_URL }}portrait.css">
    <link rel="canonical" href="https://wipa2.show/">

    <meta property="og:image" content="https://wipa2.nyc3.digitaloceanspaces.com/static/header.png" />
    <meta property="og:image:secure_url" content="https://wipa2.nyc3.digitaloceanspaces.com/static/header.png" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129314028-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129314028-1');
    </script>
  </head>

  <body>

    <header class="site-header" role="banner">
	<img src="{{ STATIC_URL }}header.svg">
    </header>

    <div class="wrapper">
      <p class="fullwidth"><strong>Works in Progress</strong> is a design show celebrating the journey of bringing your ideas to life.  As makers and designers, we know all about what goes on in the studio, in the workshop, and on the factory floor – behind the scenes – to create beautiful, functional works.<br><br>
        The first installment of the <strong>Works in Progress</strong> show will take place at the Ann Arbor Art Center (January 11–February 9, 2019).  This show gives designers and makers a platform to showcase the beauty and chaos involved in bringing functional works to life.  The exhibit’s curatorial scope of functional works includes fashion, graphic design, furniture, architecture, industrial design, and more. 
        </p>
        <h2>SUBMISSION</h2>
        <p>
        All entries are due by <strong>MIDNIGHT EASTERN TIME, DECEMBER 9TH, 2018</strong>.<br><br>To participate, complete the work submission form <a href="#submit">below</a>, and upload your work samples.<br><br>In order to get the best and most inclusive submissions possible, we have decided to waive the $10 submission fee. All who have entered so far will be refunded. <br><br>However, upon acceptance, there will be a $20 exhibition fee for the selected individuals.</a>
        </p>
        
        <div>
            <p>
                <strong>Work Samples may include:</strong>
            </p>
            <ul>
                <li>Sketches and Drawings.</li> 
                <li>Prototypes.</li>   
                <li>Process Tools (Molds, jigs, custom equipment, etc…).</li>
                <li>The final work.</li>
                <li>Happy Accidents along the way.</li>
                <li>Beautiful mistakes.</li>
                <li>Material studies and Form studies.</li>
                <li>All types of documentation.</li>
            </ul>
        </div>
        
        <h2>NOTIFICATIONS</h2>
        <p class="fullwidth">Participants selected for the Works in Progress show will be responsible for transporting work to and from Ann Arbor Art Center.  All applicants will receive a response by Dec. 17th, 2018.</p>
        
        <h2>QUESTIONS AND ANSWERS</h2>
        
        <p>
            <strong>Timeline</strong><br>
            Submissions Open – Nov. 12<br>
            Submissions Close – Dec. 9<br>
            Participants Notified – Dec. 17<br>
            Works Delivered - Jan. 6<br>
            Show Opens - Jan. 11<br><br><br>
            Further info will be communicated to selected participants via email.<br><br>
        </p>
        
        <p>
            <strong>Work-Related Questions</strong><br>
            Maximum size of work?<br>
            Bigger than a grain of rice, smaller than an elephant.<br>
            If you’re not sure, email us at the address below.<br><br>
            
            <strong>Who’s organizing the show?</strong><br>
            A handful of designers &amp; makers in SE Michigan.  Sophie, Chris, &amp; Matt<br><br>
        </p>
        <p class="fullwidth center">
            <strong>Got further questions?</strong>  Email us at <a href="mailto:info@wipa2.show">info@wipa2.show</a>.
        </p>
      <h2 id="submit">SUBMIT WORKS</h2>

      {% if in_entry_period %}
      {% if posted %}
      <p class="fullwidth error">Something went wrong -- please scroll down to fix it so we can process your submission!</p>
      {% endif %}

      <form id="payment-form" action="{% url 'works:submit' %}#submit" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="_utf8" value="✓">

        {% load filters %}
    
        {% for field in form %}
            {% if field.field.widget|isinst:"django.forms.TextInput" %}
            <input type="text" placeholder="{{ field.label }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" {% if field.value %}value="{{ field.value }}"{% endif %}>
            {% endif %}
            {% if field.field.widget|isinst:"django.forms.Textarea" %}
            <textarea placeholder="{{ field.label }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}">{% if field.value %}{{ field.value }}{% endif %}</textarea>
            {% endif %}
            {% if posted %}
            {% for error in field.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
            {% endif %}
        {% endfor %}
        <!-- https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ -->
        <input type="file" name="images" id="images" multiple data-multiple-caption="{count} files selected">
        <label for="images">Photos of Work (3-5)<div></div></label> 
        {% if photo_error %}
        <p class="error">{{ photo_error|escape }}</p>
        {% endif %}
        <input type="submit" value="Submit" class="submit">
      </form>
      {% else %}
      <p class="fullwidth">Sorry, but the entry period ended at <strong>midnight Eastern on December 9th, 2018</strong>. If you submitted an entry, you will receive an update on or before December 17th, 2018 with your status.</p>
      {% endif %}
    </div>

    {% if in_entry_period %}
    <div class="submit_prompt"><a href="#submit"><strong>SUBMIT NOW</strong></a></div>
    {% endif %}

    <footer>
      <p>Location</p>
      <br>
      <p><a href="https://www.annarborartcenter.org/">Ann Arbor Art Center</a></p>
      <p>117 W. Liberty St., Ann Arbor, MI 48104</p>
      <ul id="social">
        <li><a href="https://twitter.com/wipa2show/"><img class="twitter" src="{{ STATIC_URL }}social_half.png"></a></li>
        <li><a href="https://instagram.com/wipa2show/"><img class="instagram" src="{{ STATIC_URL }}social_half.png"></a></li>
      </ul>
    </footer>
  </body>

  <script src="{{ STATIC_URL }}main.js"></script>
</html>
