<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Works in Progress | Ann Arbor Design &amp; Maker Show</title>
    <meta name="description" content="Works in Progress is a design show featuring local designers, makers, and artists, showcasing a wide spectrum of functional works that include fashion, graph...">

    <link rel="stylesheet" href="{{ STATIC_URL }}normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}main.css">
    <link rel="canonical" href="https://wipa2.show/">

    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

  <body>

    <header class="site-header" role="banner">
      <img src="{{ STATIC_URL }}header.svg">
    </header>

    <div class="wrapper thanks">
      <h2 id="submit">Thank You</h2>
      <p class="fullwidth">Your submission has been received and we will contact you soon.</p>
    </div>

    <footer>
      <p>Location</p>
      <br>
      <p>Ann Arbor Art Center</p>
      <p>117 W. Liberty St., Ann Arbor, MI 48104</p>
      <ul id="social">
        <li><a href="https://twitter.com/wipa2show/"><img class="twitter" src="{{ STATIC_URL }}social_half.png"></a></li>
        <li><a href="https://instagram.com/wipa2show/"><img class="instagram" src="{{ STATIC_URL }}social_half.png"></a></li>
      </ul>
    </footer>
  </body>

  <script src="{{ STATIC_URL }}main.js"></script>
</html>
